@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  background-color: #F0F4F5;
  font-family: sans-serif;
}

.App {
  background-color: blue;
}