.standard_table{
  width: 100%;
  font-size: 12px;
  color: #77898C;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.table_header{
  font-size: 10px;
  color: #8b9fa3;
  font-family: 'Roboto', sans-serif;
}

.last_row{
  border-bottom: 1px solid #F2F8FA;
}

.table_row tr:hover {
  color: black;
}

.table_small{
  width: 40px;
}
.table_smallest{
  width: 15px;
}

.semester_table{
  height: 237px;
}
.semester_summary{
  width: 100%;
  float: right;
  height: 17px;
  font-size: 10px;
  color: #8b9fa3;
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.new_course{
  cursor: pointer;
}

.semester_summary_ects{
  width: 100%;
  height: 17px;
  font-size: 10px;
  color: #8b9fa3;
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  padding: 0;
  margin: 0;
  float: right;
}

.semester_summary_new_course{
  width: 30%;
  clear: both;
  float: right;
  height: 19px;
  line-height: 19px;
  vertical-align: center;
  font-size: 11px;
  color: #545a6a;
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  margin: 0;
  margin-left: 370px;
  padding: 0;
}


.warning_icon{
  clear: both;
  height: 15px;
  padding: 0;
  float: right;
}