@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.link_name{
  float:left;
  text-align: left;
  width: 99%;
  height: 23px;
  line-height: 23px;
  font-size: 11px;
  color: #77898C;
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
}

.info_text{
  float:left;
  text-align: left;
  width: 99%;
  height: 23px;
  line-height: 23px;
  font-size: 11px;
  color: #77898C;
  font-family: 'Libre Franklin', sans-serif;
  padding: 0 0 0 5px;
  margin: 0;
}

.course_plans{
  height: 235px;
}

.link_name:hover {
  color: black;
}

.planner_link{
  clear:both;
height: 23px;
  cursor: pointer;
}

.planner_link:hover{
  cursor: pointer;
}

.new_plan_wrapper{
  width: 300px;
  margin:auto;
}

.plan_text_field{
  float:left;
  width: 160px;
}

.button_div{
  float:left;
  width: 140px;
}